/src/generated/prisma
.env

node_modules/
dist/
.yarn/
.cache/
*.log
*.tsbuildinfo
prisma/dev.db
.vscode/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
